<!doctype html>
<html lang="en">
    {% load static %}
  <head>
  	<title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{% static 'fonts.googleapis.com/css?family=Roboto:400,100,300,700' %}" rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	
	<link rel="stylesheet" href="{% static 'css2/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">VIEW COMPLAINTS</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>House Number</th>
                              <th>Complaint</th>
                            
						      <th></th>
						      <!-- <th>Last Name</th>
						      <th>Email Address</th> -->
						    </tr>
						  </thead>
						  <tbody>
                            {% for ct in d1 %}


                            <tr>
                               
                                <tr>
                                    <td>{{ct.house_number.house_number}}</td>
                                    <td>{{ct.complaint_complaint}}</td>
                                    
                                   
                
                                  
                                    <!-- <td><a href ="/removelocalbody1/{{ct.local_id}}">DELETE </a></td> -->
									<!-- <td class="col-4"><form action="item/{{object.id}}/" method="POST"> {% csrf_token %} <input type="submit" value="Remove Item" class="remove-btn" /> </form></td> -->
                                </tr>
                                
                            </tr>
                            {% endfor %}
						   
						</tr>
						
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="jss/jquery.min.js"></script>
  <script src="jss/popper.js"></script>
  <script src="jss/bootstrap.min.js"></script>
  <script src="jss/main.js"></script>

	</body>
</html>
