<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
<title>Auditions Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="{% static 'css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js1/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="{% static 'fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese' %}" rel="stylesheet">
</head>
<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
			<h1 class="w3layouts_head">ALLOT DUTY TO HKS</h1>
				<div class="w3layouts_main_grid">
					<form action="/allothouse2/" method="post" class="w3_form_post" enctype="multipart/form-data">
						{% csrf_token %}
						
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Employee Id </label>
								<input type="text" name="employeeid" value="{{id}}" required="">
								</span>
						</div>
						



						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Ward Number </label>
								<select name="wardss">
									<option >Ward</option>

                                    {% for ct in d %}
									
									<option value="{{ct.allot_id}}">{{ct.ward_id.ward_number}}</option>

									{% endfor %}
								</select>
								
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							</span>
						</div>

						<!-- <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Satrting House Number </label>
								<input type="text" name="starthouse" placeholder="Starting Number" required="">
							</span>
						</div>

						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Ending House Number </label>
								<input type="text" name="endhouse" placeholder="Ending Number" required="">
							</span>
						</div> -->
						

                        
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>House Number </label>
								<select name="hnumber">
									<option >Number</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.house_number}}">{{ct.house_number}}</option>

									{% endfor %}
								</select>
								 
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							</span>
						</div>
                        
						<!-- <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Ending House Number </label>
								<select name="enumber">
									<option >Number</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.house_number}}">{{ct.house_number}}</option>

									{% endfor %}
								</select> -->
								 
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							<!-- </span>
						</div> -->
                        
						<!-- <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>House Owner </label>
								<select name="howner">
									<option >Name</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.house_number}}">{{ct.house_ownername}}</option>

									{% endfor %}
								</select> -->
								
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							<!-- </span>
						</div>
                         -->
						<!-- <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>House Name </label>
								<select name="hname">
									<option >House</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.house_number}}">{{ct.house_name}}</option>

									{% endfor %}
								</select> -->
								
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							<!-- </span>
						</div> -->

						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Location </label>
								<select name="hlocation">
									<option >Location</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.house_number}}">{{ct.house_location}}</option>

									{% endfor %}
								</select>
								
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							</span>
						</div>
                        
						<!-- <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>House Address </label>
								<select name="haddress">
									<option >Address</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.house_number}}">{{ct.house_address}}</option>

									{% endfor %}
								</select> -->
								
								<!-- <input type="text" name="district" placeholder="District" required=""> -->
							<!-- </span>
						</div> -->

                      
						
					
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit">
						</div>
					</div>
				</form>
			</div>
		<!-- Calendar -->
			<link rel="stylesheet" href="{% static 'css1/jquery-ui.css' %}" />
				<script src="{% static 'js1/jquery-ui.js' %}"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->
			
		</div>
	</div>
	</div>
<!-- //footer -->
</body>
</html>