<!DOCTYPE html>
<html lang="en">
	{% load static %}
<head>
<title>Auditions Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="{% static 'css1/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js1/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="{% static 'fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese' %}" rel="stylesheet">

<script>
	function msg()
	{
		
		var regularExpression = new RegExp("^[a-z]+(\.[a-z0-9_\+-]+)@[a-z0-9-]+(\.[a-z0-9-]+)\.([a-z]{2,4})$");
		
		var z=f1.aphonenumber.value;
		var a=z.length;
		if(a!=10 || isNaN(z))
		{
			alert("Phone Number should be 10 digits")
			return false;
		}

		var b=f1.aadharnumbervalue;
		var c=d.length;
		if(c!=12 || isNaN(b))
		{
			alert("Enter the complete Aadhar Number")
			return false;
		}

		var d=f1.aemail.value;
		if (!regularExpression.test(d))
				{
				alert("Enter a valid ID.For example:'name@gmail.com'..");
				return false;
				}
        
				var alphaExp = /^[a-zA-Z\s]+$/;
				var y = f1.aname.value;
				if (!y.match(alphaExp)) {
				  alert("Enter a valid Name......");
				  return false;
				}
					
				var p = f1.aaddress.value;
				if (!p.match(alphaExp)) {
				  alert("Enter a valid Address......");
				  return false;
				}
					
		

		curDate= new Date();
		curDate.setHours(0, 0, 0, 0);
		
			enterDate=new Date(f1.adob.value);
			
			if(enterDate>curDate)
			{
				alert("Check date of birth that entred........");
				return false;

			}

		var g=parseInt(f1.aage.value, 10);
		if(isNaN(g))
			{
				alert("Age Should be a numeric value............")
				return false;
			}

		var h=parseInt(f1.annualincome.value, 10);
		if(isNaN(h))
			{
				alert("annual income Should be a numeric value............")
				return false;
			}


		return true;

	}
</script>

</head>
<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
			<h1 class="w3layouts_head">APPLICATION FORM</h1>
				<div class="w3layouts_main_grid">
					<form name="f1" action="/application1/" method="post" class="w3_form_post" enctype="multipart/form-data" >
						{% csrf_token %}
						
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Applicant Name </label>
								<input type="text" name="aname" placeholder="Name" required="">
							</span>
						</div>

						

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Address </label>
								<input type="text" name="aaddress" placeholder="Address" required="">
							</span>
						</div>

                        <div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Date Of Birth </label>
								<div class="agileits_w3layouts_main_gridl">
									<input class="date" id="datepicker" name="adob" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>
								
									<div class="clear"> </div>
							</span>
						</div>



                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Gender</label>
								<select name="agender">
									<option value="none" selected="" disabled="">Gender</option>
									<option>Female</option>
									<option>Male</option>
								</select>
							</span>
						</div>

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Age</label>
								<input type="text" name="aage" placeholder="Age" required="">
							</span>
						</div>

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Qualification</label>
								<select name="qualification">
									<option value="none" selected="" disabled="">Qualification</option>
									<option>SSLC</option>
									<option>PusTwo</option>
                                    <option>Diploma</option>
                                    <option>Degree</option>
								</select>
							</span>
						</div>

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>District </label>
								<select name="ssdistrict">
									<option >District</option>

                                    {% for ct in d2 %}
									
									<option value="{{ct.district_id}}">{{ct.district_name}}</option>

									{% endfor %}
								</select>
								
								<!-- <input type="text" name="district" placeholder="District" required=""> --> 
							 </span>
						</div>

						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Local Body</label> </label>
								<select name="slocalbody">
									<option >Select</option>

                                    {% for ct in d3%}
									
									<option value="{{ct.local_id}}">{{ct.local_name}}</option>

									{% endfor %}
								</select>
								
								<!-- <input type="text" name="district" placeholder="District" required=""> --> 
							 </span>
						</div>

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Ward Number </label>
								<select name="ssward">
									<option >Ward Number</option>

                                    {% for ct in d1 %}
									
									<option value="{{ct.ward_id}}">{{ct.ward_number}}</option>

									{% endfor %}
								</select>
								
								<!-- <input type="text" name="district" placeholder="District" required=""> --> 
							 </span>
						</div>
						
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Ration Card Type</label>
								<select name="rationcardtype">
									<option value="none" selected="" disabled="">Ration Card</option>
									<option>APL</option>
									<option>BPL</option>
                                    <option>AAY</option>
                                   
								</select>
							</span>
						</div>

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Annual Income </label>
								<input type="text" name="annualincome" placeholder="Annual Income" required="">
							</span>
						</div>

                        
                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Phone Number </label>
								<input type="text" name="aphonenumber" placeholder="Phone Number" required="">
							</span>
						</div>

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Email</label>
								<input type="text" name="aemail" placeholder="Email" required="">
							</span>
						</div>

                      

                        <div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Upload Photo</label>
								<input type="file" name="ssphoto" placeholder="Upload photo" required="">
							</span>
						</div>

						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Aadhar card</label>
								<input type="file" name="saadhar" placeholder="Upload photo" required="">
							</span>
						</div>

						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Income Certificate</label>
								<input type="file" name="sincome" placeholder="Upload photo" required="">
							</span>
						</div>
						

					
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="Submit" onClick="return msg();">
						</div>
					</div>
				</form>
			</div>
		<!-- Calendar -->
			<link rel="stylesheet" href="{% static 'css1/jquery-ui.css' %}" />
				<script src="{% static 'js1/jquery-ui.js' %}"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
		<!-- //Calendar -->
			
		</div>
	</div>
	</div>
<!-- //footer -->
</body>
</html>