{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'index1.css' %}">
<!-- <div id="header">
    <a href="" id="logo"><span>&#127850</span> Haritha Kerala</a>
    <ul id="menu">
         <!-- <a href="/register">Sign Up</a> 
        <a href="/login3">Sign In</a>
    </ul>
</div>> -->



</div>

<html>
    <head>
        <style>
            .b{
                font-family: Arial, Helvetica, sans-serif;
                background-image: url('{% static "images1/city.jpg" %}');
                padding: 0;
                margin:0;
                text-align: center;
                background-size: cover;
                      }
            
            
                      .navbar {
              overflow: hidden;
              background-color: #034911;
            }

          </style>

    </head>
    <body class="b">
        <div class="navbar">
            <div class="dropdown1">
                <button class="dropbtn">Haritha Kerala 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <!-- <a href="/application">Application</a> -->
                  
                  
                </div>
              </div> 

            <a href="/login3">Login</a>
            <!-- <a href="#home">Home</a> -->
            <!-- <div class="dropdown">
              <button class="dropbtn">House
                <i class="fa fa-caret-down"></i>
              </button> -->
              <!-- <div class="dropdown-content">
                <a href="/adddistrict_page">House register</a>
               
               
                
              </div>
            </div>  -->
            
            <div class="dropdown">
                <button class="dropbtn">Employment 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/application">Application</a>
                  
                  
                </div>
              </div> 

              <!-- <a href="/login3">Login</a> -->
              <a href="#home">Home</a>
             
          </div>
          <!-- <div id="header">
            <a href="" id="logo"><span>&#127850</span> Haritha Kerala</a>
            <ul id="menu">
                 <a href="/register">Sign Up</a> -->
                <!-- <a href="/login3">Sign In</a>
            </ul>
        </div>  -->
          
          <div id="body">
            <div class="container">
              <div class="typed-out">Welcome to Haritha Karma Sena</div>
            </div>
        </div>
          
          <!-- <div>
            <br><br><br><br>
            <h1 class="h1">Welcome</h1><br>
            <i><p class="r">The Clean City collects non-biodegradable waste from houses and establishments to 
              shredding units for recycling.  The waste is segregated into different sections based on its features. 
              H.M White, P.P, H.M, LDPrint, Bajar, Ganny, Bulb, PVC, steel, tubes, bottle, E- waste, LD(Glucose), 
              Bottle caps, Spray bottle etc. According to the mission, the shredded plastic is being given to the local 
              bodies for road tarring by Clean Kerala Company.  Each Kudumbashree worker will visit  minimum 250 houses to
               collect non-biodegradable waste. The collection will be based on user fee.</p></i>
          </div> -->
        {% include "footer.html" %}
        {% endblock %}
    </body>
</html>



