*{
  font-family: sans-serif;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container{
  display: flex;
  justify-content: space-between;
}

.content{
  width: 80%;
  height: 100vh;
}

.sidebar{
  width: 10%;
  box-shadow: 8px 0px 3px -6px #ccc;
  padding-top: 50px;
}

.item{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item:hover{
  cursor: pointer;
  background-color: #d9d9d9;
}

.active{
  background-color: #d9d9d9;
}

.add-item{
  padding-top: 50px;
}

.add-item-input, select{
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #22293e;
  border-radius: 5px;
}

.submit-btn{
  background-color: #22293e;
  color: #fff;
  cursor: pointer;
}

.reset-btn{
  background-color: #22293e;
  color: rgb(255, 255, 255);
}

.error-item-submission{
  padding-top: 5px;
  padding-bottom: 5px;
  color: hsl(0, 93%, 63%);
}

.dummy{
  color: #fff;
}

table, th, td{
  border: 0;
}

.styled-table {
  border-collapse: collapse;
  border: 0;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.detail{
  display: flex;
  /* justify-content: space-around;  */
}

.column {
  float: left;
  width: 30%;
  padding: 20px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.img-column{
  z-index: -10;
  margin-left: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* BMI calculator */
.bmi-calulator{
  height: 80vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.bmi-calulator-input{
  /* width: 100%; */
  margin: 5px 0;
}

.bmi-info{
  margin-left: 40px;
}

.result{
  padding: 15px;
  background-color: rgb(110, 248, 55);
}

.bmi-info-detail{
  padding-left: 15px;
}

.bmi-info-detail p{
  padding-top: 5px;
}

.hide-stmt{
  color: rgb(110, 248, 55);
}

/* Admin */

.remove-btn{
  border: none;
  padding: 2px 10px;
  background-color: transparent;
}

.remove-btn:hover{
  cursor: pointer;
  color: rgb(9, 9, 184);
}

.col-1{
  width: 100px;
}
.col-2{
  width: 50px;
}
.col-3{
  width: 150px;
}
.col-4{
  width: 150px;
}

img{
  margin-left: 100px;
}