{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'lstyle.css' %}">
</head>
        <body style="background-image: url('{%static 'im.jpeg'%}');">
            <div class="wrapper">
                <ul class="nav-area">
                    <li> <a href="public.html">Home</a></li>
                    <li> <a href="about.html">About</a></li>
                    <li> <a href="login.html">Login</a></li>
                    <li> <a href="register.html">Register</a></li> 
                </ul>
            </div>
            <div class="welcome-texr">
                <h1>ONLINE CALLORIE TRAKER</h1>
                <a href="contact.html">Contact us</a>
            </div>
        </body>
    </head>
</h1tml>