{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#127850 Calorie Tracker | Sign Up</title>
    <link rel="stylesheet" href="{% static 'lstyle.css' %}">
</head>
    <body>
        <div class="center-form">
            <div id="login-form"> 
                <div class="image">
                    <a href="/" class="mb-2 create-account" >&#127850</a>
                </div>
                <h2 class="mb-4">Sign Up</h2>
                <form class="login" method="post">
                    {% csrf_token %}
					<input class="mb-1" type="text" name="first_name" placeholder="First Name" class="textBox" autofocus="on" required>
					<input class="mb-1" type="text" name="last_name"  placeholder="Last Name" class="textBox" required>
					<input class="mb-1" type="email" name="email" placeholder="email" class="textBox" required>
					<input class="mb-1" type="Password" name="password1" placeholder="Password" required>
					<input class="mb-1" type="Password" name="password2" placeholder="conform password" class="textBox" required>
                    <button class="mb-1 sig-in-btn" type="submit">Sign Up</button>
                </form>
                <div class="error">
                    <p> {{message}} </p>
                </div>
                <a href="/login" class="mb-2 create-account" >Already have an account?</a>
                <button class="create-acount-btn" onclick="location.href = '/login';">Sign In</button>
            </div>
        </div>
    </body>
</html>
