{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'user-home.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div id="header">
    <a href="/" id="logo"><span>&#127850</span> Calorie Tracker</a>
    <ul id="menu">
        <a href="/logout">Logout</a>
    </ul>
</div>
<div class="container">
  <div class="sidebar">
    <div class="item active"onclick="location.href='/home'">Home</div>
    <div class="item" onclick="location.href='/bmi-calculator'">BMR Calculator</div>
    <div class="item" onclick="location.href='/history'">Calorie History</div>
    <div class="item" onclick="location.href='/help'">Help</div>
  </div>
  <div class="content">
    <div class="add-item">
      <form action="item/consumption/" method="post">
          {% csrf_token %}
          <select name="item" onchange="display()">
            {% for object in object_list%}
            <option value="{{object.id}}">{{object.name}}</option>
            {% endfor %}                         
          </select>
          <input class="add-item-input" type="text" name="amount" placeholder="Amount of food taken">
          <input class="add-item-input submit-btn" type="submit">
      </form>
      <div>
        {% if messages %}
          {% for message in messages %}
          <p {% if message.tags %} class="error-item-submission"{% endif %}>{{ message }}</p>
          {% endfor %}
        {% else %}
          <p class="error-item-submission dummy">dummy</p>
        {% endif %}
      </div>
    </div>
    <div class="detail row">
      <div class="column">
        <table class="styled-table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Amount consumed</th>
              <th>Calorie</th>
              <th>                    
                <form>
                  <select name="category" onchange="this.form.submit()">
                    <option value="0">Category</option>
                    <option value="-1">All</option>
                    <option value="0">Vegetables</option>
                    <option value="1">Fruits</option>
                    <option value="2">Grains</option>
                    <option value="3">Meat And Poultry</option>
                    <option value="4">Fish And Seafood</option>
                    <option value="5">Dairy Foods</option>
                    <option value="6">Beans</option>
                    <option value="7">Nuts</option>
                  </select>
                </form>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in consumed_list %}
            <tr >
              <td>{{item.item.name}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.calories_consumed}}</td>
              <td>{{item.item.get_category_display}}</td>
              <td><a href="/item/consumption/{{item.id}}" >&#128465;</a></td>
            </tr>
            {% endfor %}
            <tr >
              <td><form action="item/reset/" method="post">{% csrf_token %}<input class="add-item-input submit-btn" type="submit" value="Reset All"></form></td>
              <td></td>
              <td>Total calories consumed</td>
              <td>{{total_calorie}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column img-column"><img src="{{path}}" /></div>
    </div>
  </div>
</div>
<div id="footer">

</div>
{% endblock %}